 <div class="row">
        <div class="col-md-6 mt-5 pt-5">
            <h2>
              Dojížďkové vztahy mezi lokalitami
            </h2>
          <h4 class="mt-3">Snapshot</h4>
          <ng-select [items]="snapshots$ | async"
                     [multiple]="true"
                     [maxSelectedItems]="3"
                     bindLabel="description"
                     bindValue="id"
                     placeholder="Vyberte snapshot, pro který chcete zobrazit data (max. 3)"
                     (change)="onSnapshotChange($event)"
                     [(ngModel)]="selectedSnapshots$">
          </ng-select>
          <h4 style="color: #D62F2F" class="mt-3">Zdrojová oblast</h4>
          <ng-select [items]="locations$ | async"
                     [multiple]="true"
                     [maxSelectedItems]="10"
                     bindLabel="name"
                     bindValue="id"
                     groupBy="type"
                     placeholder="Vyberte oblast, pro kterou chcete zobrazit data (max. 10)"
                     (change)="onLocationChange($event)"
                     [(ngModel)]="selectedLocations$">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <b>{{item.name}}</b> ({{item.type}})
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items">
                <span class="ng-value-label"><b>{{item.name}}</b> ({{item.type}})</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
              </div>
            </ng-template>
          </ng-select>
          <h4 style="color: #367DC4" class="mt-3">Cílová oblast</h4>
          <ng-select [items]="locations$ | async"
                     [multiple]="true"
                     [maxSelectedItems]="30"
                     bindLabel="name"
                     bindValue="id"
                     groupBy="type"
                     placeholder="Volitelně můžete vybrat také cílové oblasti (max. 30)"
                     (change)="onDestinationChange($event)"
                     [(ngModel)]="selectedDestinations$">
            <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
              <b>{{item.name}}</b> ({{item.type}})
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
              <div class="ng-value" *ngFor="let item of items">
                <span class="ng-value-label"><b>{{item.name}}</b> ({{item.type}})</span>
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
              </div>
            </ng-template>
          </ng-select>
          <p class="text-center mt-5">
            <button (click)="scrollToEl(data)" class="btn btn-primary" [hidden]="csvUrl == ''">
              <span class="fa fa-arrow-down"></span>
              Prohlížet data
              <span class="fa fa-arrow-down"></span>
            </button>&nbsp;
            <button (click)="scrollToEl(graphData)" class="btn btn-primary" [hidden]="csvUrl == ''">
              <span class="fa fa-arrow-down"></span>
              Prohlížet grafy
              <span class="fa fa-arrow-down"></span>
            </button>
          </p>
        </div>
        <div class="col-md-6 mt-5 pt-5">
          <div style="height: 30vw;min-width: 46vw"
               leaflet
               (leafletMapReady)="onMapReady($event)"
               [leafletOptions]="options"
               [leafletLayers]="layers">
          </div>
        </div>
    </div>
    <div class="pb-2" #data></div>
    <div class="row mt-5">
        <div class="col">
          <a [href]="csvUrl" target="_blank" class="btn btn-primary pull-right" [hidden]="csvUrl == ''">
            <span class="fa fa-download"></span>
            Stáhnout data v CSV
          </a>
          <h2>
            Data
          </h2>
          <div style="clear: both"></div>
          <ngx-datatable
            class="material striped "
            [columnMode]="'force'"
            [messages]="messages"
            [sortType]="'multi'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="40"
            [limit]="20"
            [loadingIndicator]="indicator"
            [rows]="rows$ | async"
            [columns]="columns">
          </ngx-datatable>
          <p class="text-center mt-3">
            <a [href]="csvUrl" target="_blank" class="btn btn-primary btn-lg" [hidden]="csvUrl == ''">
              <span class="fa fa-download"></span>
              Stáhnout data v CSV
            </a>
          </p>
      </div>
    </div>
    <div class="pb-2" #graphData></div>
    <div class="row mt-5 mb-5">
      <div *ngFor="let snapshot of topGraphDataBySnapshot" class="{{ topGraphDataBySnapshot.length > 1 ? 'col-6' : 'col-12' }}" style="min-height: 400px">
        <h3>Snapshot {{ snapshot.name }} - top migrace</h3>
        <app-graphjs [type]="topGraphType" [data]="snapshot.data" [options]="topGraphOptions"
                     [typeSelections]="[{type: 'bar', name: 'sloupcový'}, {type: 'doughnut', name: 'donut'}]"></app-graphjs>
      </div>
      <div style="clear: both"></div>
      <div *ngIf="topGraphData !== undefined && topGraphDataBySnapshot.length > 1" class="col-12" style="min-height: 600px">
        <h3>Top migrace</h3>
        <app-graphjs [type]="topGraphType" [data]="topGraphData" [options]="topGraphOptions"
                     [typeSelections]="[{type: 'bar', name: 'sloupcový'}, {type: 'doughnut', name: 'donut'}]"></app-graphjs>
      </div>
      <div style="clear: both"></div>
    </div>
