<div class="row mt-5 first-banner">
  <div class="col">
    <h2>
      <span>Inovujeme</span>
      <span>s telekomunikačními</span>
      <span>daty!</span>
      <div class="clearfix"></div>
    </h2>
  </div>
</div>
<div class="row blok-uvod">
  <div class="col">
    <p class="uvodni-text">
      <img src="assets/opz490.jpg" class="img-fluid">
      Dobrý den, vítejte na webové prezentaci projektu <b>„Inovujeme&nbsp;s&nbsp;telekomunikačními&nbsp;daty!“</b>, který je realizován v rámci Operačního programu Zaměstnanost.
    </p>
    <div class="clearfix"></div>
    <p>Součástí této prezentace je i <strong>webová aplikace</strong> umožňující prohlížení a stahování dat o migračních tocích
      pracující populace České republiky a dalších doplňujících dat souvisejících s <strong>vyjížďkou a dojížďkou za prací</strong>.
      Hlavním datovým zdrojem jsou provozní a lokalizační data telekomunikačního operátora O2&nbsp;Czech&nbsp;Republic&nbsp;a.s. a výsledné agregované počty, které popisují chování pracující populace, jsou již přepočtené – nejedná se tedy o počty uživatelů mobilní sítě O2, nýbrž o celkový odhad populace.
    </p>
  </div>
</div>
<div class="row blok-datove-sady">
  <div class="col">
    <div class="dostupne">
      <h5><span>Dostupné</span>
        <span>datové sady</span></h5>
      <ul>
        <li>Migrační dojížďkové proudy mezi obcemi z rozšířenou působností (ORP) a agregace těchto proudů na okresy a kraje ČR</li>
        <li>
          Vlastnosti dojížďky a vyjížďky s rozlišením na:
          <ul>
            <li>Věk a pohlaví</li>
            <li>Pravidelnost migrace</li>
            <li>Délka trvání dojížďky</li>
            <li>Časový rozsah dojížďky</li>
            <li>Vzdálenost dojížďky</li>
            <li>Rozdělení po dnech v týdnu</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="vlastnosti">
      <h5>
        <span>Vlastnosti</span>
        <span>datových sad</span>
      </h5>
      <ul>
        <li>Nejmenší územní jednotkou je území obcí z rozšířenou působností (ORP)</li>
        <li>Časové rozlišení je jeden kalendářní měsíc (září 2018 – srpen 2019)</li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="row second-banner">
</div>
<div class="row blok-projekt">
  <div class="col">
    <h5 class="l200">
      Způsob poskytovani dat
    </h5>
    <div class="l200">
      <p>Zmíněná open data jsou průběžně zveřejňována a poskytována za pomocí dvou platforem:</p>
    <ul>
      <li>Interaktivní webová aplikace, která umožnuje interaktivně procházet, filtrovat a prohlížet datové výstupy. Do aplikace vstoupíte pomocí odkazů v menu v horní částí této webové stránky.</li>
      <li>Rozhraní API, určené pro pokročilé uživatele, pomocí kterého je možné strojově dotazovat
        a číst datové výstupy. Dokumentace k API je dostupná zde
        <a routerLink="/info/dev-docs">https://www.inovujemesdaty.cz/dev</a></li>
    </ul>
    <a href="" class="tlacitko" mdbTooltip="Informace o projektu" routerLink="/info/project"
       placement="top">více o projektu</a>
    </div>
  </div>
</div>
