<div class="row mt-5 mb-5">
  <div class="col">
    <a [href]="csvUrl" target="_blank" class="btn btn-primary pull-right" [hidden]="csvUrl == ''">
      <span class="fa fa-download"></span>
      Stáhnout data v CSV
    </a>
    <h3>
      Migrace za prací podle délky trvání
    </h3>
    <div style="clear: both"></div>
    <ngx-datatable
      class="material striped "
      [sortType]="'multi'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="40"
      [limit]="20"
      [loadingIndicator]="indicator"
      [columnMode]="'force'"
      [messages]="messages"
      [rows]="rows$ | async"
      [columns]="columns">
    </ngx-datatable>
    <p class="text-center mt-3">
      <a [href]="csvUrl" target="_blank" class="btn btn-primary btn-lg" [hidden]="csvUrl == ''">
        <span class="fa fa-download"></span>
        Stáhnout data v CSV
      </a>
    </p>
  </div>
</div>
<div class="pb-2" #graphData></div>
<div class="row mt-5 mb-5">
  <div *ngIf="topGraphData !== undefined && topGraphData.labels !== undefined && topGraphData.labels.length > 0" class="col-12 col-lg-9 m-auto" style="min-height: 600px">
    <h3>Top migrace</h3>
    <app-graphjs [type]="topGraphType" [data]="topGraphData" [options]="topGraphOptions"
                 [typeSelections]="[{type: 'bar', name: 'sloupcový'}, {type: 'doughnut', name: 'donut'}]"></app-graphjs>
  </div>
  <div style="clear: both"></div>
</div>
