<h2>Datová základna O2</h2>
<p>Společnost O2 je konvergentní telekomunikační operátor s vysokým tržním podílem, který poskytuje mobilní a fixní telekomunikační služby. Datová základna čítá 4 miliony aktivních zákazníků s mobilními tarify, 0,8 milionu domácností s pevným internetem a 0,25 milionu domácností s internetovou televizí O2 TV. Propojením jednotlivých datových zdrojů vznikají různé profilové typy zákazníků.</p>
<p>Pro geolokační profily, které jsou předmětem projektu „Inovujeme s telekomunikačními daty!“, jsou data získávána z vybraných rozhraní, přes která data procházejí při komunikaci a pohybu zákazníků v mobilní a fixní síti. Konkrétně se jedná o signalizační data z GSM/UMTS/LTE sítí související s telefonními hovory, posíláním textových a multimediálních zpráv, používáním internetu a dále o data, která obsahují informace o pravidelné aktualizaci polohy zařízení v síti. Nejedná se tedy pouze o data týkající se historie hovorů tzv. CDR, ale o detailnější hloubková data odpovídající systému SS7 (tzn. signalizační systém číslo 7) a OSSR (informace o využívání mobilních datových služeb).</p>
<p>Sběr dat o aktivitě osob probíhá v definovaných lokalitách, které jsou pokryty signálem různých technologií. Různé mobilní přístroje se připojují k různým technologiím, proto jsou sledované atributy vypočteny ze všech dostupných technologií v dané lokalitě. V jednotlivých lokalitách je možné počítat s pokrytím 2G GSM technologie, 3G UMTS technologie a 4G LTE technologie.</p>
<div class="h-icon h-icon-data"></div>
