<h2>Ochrana dat</h2>
<h4>Bezpečnost a ochrana osobních údajů / Zajištění anonymity dat</h4>
<p>Bezpečnost a ochrana osobních dat jsou v rámci projektu řešeny na prvním místě. Základní premisou pro fungování tohoto nástroje je dodržování veškerých legislativních aspektů a etických zásad.</p>
<p>Datovým výstupem jsou agregované a anonymizované údaje. Před zpracováním dat dochází k odstranění veškerých atributů, které by mohly vést k identifikaci jedinců. Poskytování analýz založených na agregovaných a anonymizovaných údajích je v souladu s legislativou ČR. Veškerou zodpovědnost za případné porušení anonymity přebírá dodavatel dat – společnost O2.</p>

<h4>Zpracování dat</h4>
<p>Veškerá data jsou zpracovávána a analyzována přímo interními pracovníky společnosti O2, třetí strany ke zdrojovým datům nemají žádný přístup.</p>
<p>V rámci projektu provádí O2 interně analýzu vlastních anonymizovaných lokalizačních a signalizačních dat o počtu přihlášení SIM karet na konkrétních buňkách v systému základnových stanic (dále jen BTS) spadajících do jednotlivých sledovaných lokalit. Veškeré výstupy je tak možné interpretovat jako anonymizované a agregované statistiky.</p>
<div class="h-icon h-icon-protection"></div>
