<h2>
  Pro vývojáře
</h2>
<p>Aplikace zobrazuje data identifikující vyjížďky a dojížďky za prací občanů bydlících a pracujících na území ČR,
  dostupných v rámci veřejně dostupného API <a href="https://api.inovujemesdaty.cz" target="_blank">https://api.inovujemesdaty.cz</a>.
</p>
<p>
  Součástí API je dokumentace a framework umožňující API vyzkoušet. Data jsou v rámci API dostupná
  v těchto formátech: JSONLD, JSONHAL, XML, JSON, YAML, CSV. Volba výstupního formátu je možná buď pomocí
  atributu accept v headers
</p>
<p><strong>curl -X GET "https://api.inovujemesdaty.cz/age_groups" -H "accept: application/json"</strong></p>
<p>nebo pomocí přípony</p>
<p><strong>https://api.inovujemesdaty.cz/age_groups.json</strong></p>
<p>Parametrizace je možná přes query parametry</p>
<p><strong>https://api.inovujemesdaty.cz/commuting_age_genders.json?snapshot=1&location=183</strong></p>
<p>nebo v případě parametru typu Array </p>
<p><strong>https://api.inovujemesdaty.cz/commuting_age_genders.json?snapshot=1&location[]=1376&location[]=183</strong></p>
<p>Atributy a parametry použitelné pro dotazování naleznete v dokumentaci API.</p>
<h3 class="mt-3">Dostupná data v rámci API</h3>
<h4 class="mt-3">Datové pohledy</h4>
<table class="table table-striped">
  <tr>
    <th>
      CommutingAgeGender
    </th>
    <td>/commuting_age_genders</td>
    <td>
      Rozdělení migrace za prací mezi/uvnitř ORP podle věkových skupin a pohlaví
    </td>
  </tr>
  <tr>
    <th>
      CommutingBetweenLocations
    </th>
    <td>/commuting_between_locations</td>
    <td>
      Vyjížďky/dojížďky mezi lokalitami
    </td>
  </tr>
  <tr>
    <th>
      CommutingDay
    </th>
    <td>/commuting_days</td>
    <td>
      Rozdělení migrace za prací podle dne týdne
    </td>
  </tr>
  <tr>
    <th>
      CommutingDistance
    </th>
    <td>/commuting_distances</td>
    <td>
      Rozdělení migrace za prací podle vzdálenosti
    </td>
  </tr>
  <tr>
    <th>
      CommutingDuration
    </th>
    <td>/commuting_durations</td>
    <td>
      Rozdělení migrace za prací podle délky trvání
    </td>
  </tr>
  <tr>
    <th>
      CommutingRegularity
    </th>
    <td>/commuting_regularities</td>
    <td>
      Rozdělení migrace za prací podle pravidelnosti migrace
    </td>
  </tr>
  <tr>
    <th>
      CommutingTime
    </th>
    <td>/commuting_times</td>
    <td>
      Rozdělení migrace za prací podle časového rozsahu začátku vyjížďky / časového rozsahu konce dojížďky
    </td>
  </tr>
</table>
<h4 class="mt-5">Číselníky</h4>
<table class="table table-striped">
  <tr>
    <th>
      AgeGroup
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/age_groups.xml">/age_groups</a></td>
    <td>
      Číselník věkových skupin
    </td>
  </tr>
  <tr>
    <th>
      CommuteDirection
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/commute_directions.xml">/commute_directions</a></td>
    <td>
      Číselník typů dojížďky
    </td>
  </tr>
  <tr>
    <th>
      Day
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/days.xml">/days</a></td>
    <td>
      Číselník dnů
    </td>
  </tr>
  <tr>
    <th>
      Distance
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/distances.xml">/distances</a></td>
    <td>
      Číselník skupin dojezdových vzdáleností
    </td>
  </tr>
  <tr>
    <th>
      Duration
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/durations.xml">/durations</a></td>
    <td>
      Číselník skupin délek trvání dojižďky
    </td>
  </tr>
  <tr>
    <th>
      Gender
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/genders.xml">/genders</a></td>
    <td>
      Číselník pohlaví
    </td>
  </tr>
  <tr>
    <th>
      Location
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/locations.xml">/locations</a></td>
    <td>
      Číselník lokalit
    </td>
  </tr>
  <tr>
    <th>
      MeaningOfTime
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/meaning_of_times.xml">/meaning_of_times</a></td>
    <td>
      Číselník významů časového rozsahu
    </td>
  </tr>
  <tr>
    <th>
      Regularity
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/regularities.xml">/regularities</a></td>
    <td>
      Číselník pravidelnosti dojížďky
    </td>
  </tr>
  <tr>
    <th>
      Snapshot
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/snapshots.xml">/snapshots</a></td>
    <td>
      Číselník snapshotů
    </td>
  </tr>
  <tr>
    <th>
      TimeInterval
    </th>
    <td><a target="_blank" href="https://api.inovujemesdaty.cz/time_intervals.xml">/time_intervals</a></td>
    <td>
      Číselník časových rozsahů
    </td>
  </tr>
</table>
<div class="h-icon h-icon-dev"></div>
