<h2 class="mb-2">FAQ – Často kladené dotazy</h2>
<h4>FAQ k výstupům projektu Inovujeme s telekomunikačními daty</h4>
<ol>
<li><strong>Za jaké období jsou data o migračních tocích pracující populace České republiky?</strong><br />
  V rámci projektu jsou finálně zpracovávána data od září 2018 a časové rozlišení ve výstupech je jeden kalendářní měsíc.
</li>
<li><strong>Pro jaké územní celky jsou zobrazeny migrační toky pracujících?</strong><br />
  Pro obě datové sady, tedy i obě interaktivní webové aplikace (Migrační dojížďkové proudy, Vyjížďka a dojížďka), jsou zobrazeny výstupy na úroveň obcí s rozšířenou působností (ORP) a agregace těchto proudů na okresy a kraje ČR.
</li>
<li><strong>Z jakých datových zdrojů je analýza o migračních tocích pracující populace ČR zpracována?</strong><br />
  Hlavním datovým zdrojem jsou provozní a lokalizační data telekomunikačního operátora O2 Czech Republic a.s. a výsledné agregované počty, které popisují chování pracující populace, jsou již přepočtené – nejedná se tedy o počty uživatelů mobilní sítě O2, nýbrž o celkový odhad populace. Více o metodice a datovém zdroji v <a href="https://www.inovujemesdaty.cz/info/user-docs">Uživatelské příručce</a>.
</li>
<li><strong>Výsledná data jsou přepočtena na celkovou populaci?</strong><br />
  Produkty založené na geolokačních datech jednoho operátora využívají pro měření pouze data svých zákazníků. Pro získání pohledu na celkový trh proto dochází ke statistické extrapolaci na populaci ČR. Více o metodice a datovém zdroji v <a href="https://www.inovujemesdaty.cz/info/user-docs">Uživatelské příručce</a>.
</li>
<li><strong>Je zajištěna anonymita dat a ochrana osobních dat zákazníků?</strong><br />
  Bezpečnost a ochrana osobních dat jsou v rámci projektu řešeny prvním místě. Základní premisou pro fungování tohoto nástroje je dodržování veškerých legislativních aspektů a etických zásad.<br />
  Datovým výstupem jsou agregované a anonymizované údaje. Před zpracováním dat dochází k odstranění veškerých atributů, které by mohly vést k identifikaci jedinců. Poskytování analýz založených na agregovaných a anonymizovaných údajích je v souladu s legislativou ČR. Veškerou zodpovědnost za případné porušení anonymity přebírá dodavatel dat – společnost O2.
</li>
<li><strong>Kde mohu jako běžný uživatel najít výstupy projektu a informace o něm?</strong><br />
  Do aplikací vstoupí uživatel pomocí odkazů v menu v horní částí webové stránky <a href="https://www.inovujemesdaty.cz">https://www.inovujemesdaty.cz</a>. Na této webové stránce také nalezne uživatel také informace o projektu.
</li>
<li><strong>Kde zjistím počet pracujících, kteří cestují mezi dvěma lokalitami? </strong><br />
  Migrační dojížďkové proudy mezi obcemi z rozšířenou působností (ORP) a agregace těchto proudů na okresy a kraje ČR nalezne uživatel na webové stránce <a href="https://www.inovujemesdaty.cz">https://www.inovujemesdaty.cz</a> v záložce „Dojížďkové vztahy“. V této záložce vyplní požadované parametry do formuláře a následně může pracovat s vygenerovanými výstupy. Postup vyplnění formuláře a popis výstupů nalezne uživatel v kapitole Dojížďkové vztahy mezi lokalitami v <a href="https://www.inovujemesdaty.cz/info/user-docs">Uživatelské příručce</a>.
</li>
<li><strong>Kde zjistím vlastnosti dojížďky a vyjížďky, tedy detailnější informace o migraci za prací z / do konkrétního regionu?</strong><br />
  Vlastnosti dojížďky a vyjížďky u konkrétní obce z rozšířenou působností (ORP) ,okresu či kraje ČR nalezne uživatel na webové stránce <a href="https://www.inovujemesdaty.cz">https://www.inovujemesdaty.cz</a> v záložce „Vyjížďka a dojížďka“. V této záložce vyplní požadované parametry do formuláře a následně může pracovat s vygenerovanými výstupy. Postup vyplnění formuláře a popis výstupů nalezne uživatel v kapitole Vyjížďka a dojížďka v <a href="https://www.inovujemesdaty.cz/info/user-docs">Uživatelské příručce</a>.
</li>
<li><strong>Jaké informace mohu získat dojížďce a vyjížďce za prací u konkrétního regionu? </strong><br />
  V aplikaci „Vyjížďka a dojížďka“ na webu <a href="https://www.inovujemesdaty.cz">https://www.inovujemesdaty.cz</a> si uživatel pomocí zadání parametrů (lokality a období) zobrazí tyto vlastnosti o migraci za prací:
  <ol>
    <li>Věk a pohlaví</li>
    <li>Pravidelnost migrace</li>
    <li>Délka trvání dojížďky</li>
    <li>Časový rozsah dojížďky</li>
    <li>Vzdálenost dojížďky</li>
    <li>Rozdělení po dnech v týdnu</li>
  </ol>
  </li>
</ol>

<h4>FAQ k obecné analýze dat</h4>
<ol>
  <li><strong>Za jaké období zpětně může být analýza zpracována?</strong><br />
    Zdrojová data uchováváme za období 4 měsíce zpětně. Analýzy obvykle provádíme na úrovni kalendářního měsíce.
  </li>
  <li><strong>Jaká je nejmenší možná velikost území pro realizaci analýzy?</strong><br />
    Minimální velikost analyzovatelného území je dána topologií sítě, tedy pokrytím sledované oblasti mobilním signálem jednotlivými technologiemi (2G, 3G, 4G) a úzce souvisí s hustotou obyvatel a návštěvníků v lokalitě a geografickým členěním oblasti. V obecné rovině lze říci, že v hustě osídlených oblastech (větší města) je možné analyzovat oblast o velikosti větších desítek až stovek m2, např. náměstí nebo nákupní centrum.
  </li>
</ol>
<div class="h-icon h-icon-faq"></div>
