<h2>
  Inovujeme s telekomunikačními daty!
</h2>
<p class="text-left">
  <img src="assets/opz490.jpg" class="img-fluid">
</p>
<dl>
  <dt>Název projektu:</dt>
  <dd>Inovujeme s telekomunikačními daty!</dd>
  <dt>Registrační číslo:</dt>
  <dd>CZ.03.3.X/0.0/0.0/15_124/0006496</dd>
  <dt>Název operačního programu:</dt>
  <dd>OPZ – Operační program Zaměstnanost</dd>
  <dt>Žadatel:</dt>
  <dd>SVI AJAK z.s.</dd>
  <dt>Partner:</dt>
  <dd>Výzkumný ústav práce a sociálních věcí, v. v. i. <br>
    O2 Czech Republic a.s.
  </dd>
  <dt>Termín realizace:</dt>
  <dd>1. 6. 2017 – 30. 11. 2019</dd>
</dl>

<h3>Cíl projektu</h3>
<p class="text-justify">
  Projekt si klade za cíl přispět k efektivnějšímu nastavování parametrů veřejné a sociální politiky, a to prostřednictvím zpřístupnění objektivních kvantitativních velkých dat, která budou dostupná jako datová platforma pro tvorbu nových řešení v oblasti sociálních inovací a rozvoje veřejného sektoru, a to i v případě regionálního rozměru. V tomto ohledu zatím bohužel ČR v mezinárodním srovnání zaostává, neboť především v západní Evropě a severní Americe jsou již tzv. open data veřejným sektorem nejen více zpřístupňována, ale také využívána pro vývoj nových inovovaných nástrojů a služeb.
</p>
<p class="text-justify">
  Předkládaný projekt se zaměřuje na řešení problému nedostatku velkých open dat, která mohou významným způsobem přispět k nastavování parametrů řešení otázek z oblasti sociální problematiky, zejména otázek souvisejících s trhem práce, a to i v regionálním členění. Dále se zaměřuje na jejich zpřístupnění veřejnosti, zejména její odborné části, a to včetně metodických pokynů pro práci s nimi.
</p>
<p class="text-justify">
  Projekt uživatelům zpřístupní Big Data partnera projektu, telekomunikačního operátora O2 Czech Republic a.s., který uvedenými daty v potřebném rozsahu disponuje. Jako primární data budou využita data provozní, signalizační či reziduální, která vznikají v rámci běžného provozu v rozsahu jednotek TB denně. Právě s těmito daty budou v rámci projektu vytvářeny potřebné analýzy, které budou následně transformovány do podoby nástrojů, prostřednictvím kterých budou upravená zdrojová data využitelná aktéry trhu práce.
</p>
<dl>
  <dt>Místa realizace:</dt>
  <dd>Nymburk, Praha</dd>
  <dt>Celkový rozpočet projektu:</dt>
  <dd>18 276 806,40 Kč</dd>
  <dt>Informace:</dt>
  <dd>
    Ing. Marek Koplík<br>
    E-mail: <a href="mailto:marek.koplik@sviajak.cz">marek.koplik@sviajak.cz</a><br>
    Telefon: +420 775 223 388
  </dd>
</dl>
<div class="h-icon h-icon-project"></div>
