<h2>Uživatelské příručky ke stažení</h2>
<p>Pro lepší orientaci v rámci aplikace si stáhněte „Uživatelskou příručku Analytické a reportovací aplikace“.</p>
<p><a href="/assets/Prirucka_inovujemesdaty_cz_v1.pdf" target="_blank">
  Uživatelská příručka Analytické a reportovací aplikace [4.7MB]
</a></p>
<div class="h-icon h-icon-docs"></div>
