<div class="row">
  <div class="col-md-7  mt-5 pt-5">
    <h2>
      Vyjížďka a dojížďka
    </h2>
    <h4 class="mt-3">Snapshot</h4>
    <ng-select [items]="snapshots$ | async"
               [multiple]="true"
               [maxSelectedItems]="3"
               bindLabel="description"
               bindValue="id"
               placeholder="Vyberte snapshot, pro který chcete zobrazit data (max. 3)"
               [(ngModel)]="selectedSnapshots$">
    </ng-select>
    <h4 style="color: #D62F2F" class="mt-3">Zkoumaná oblast</h4>
    <ng-select [items]="locations$ | async"
               [multiple]="true"
               [maxSelectedItems]="10"
               bindLabel="name"
               bindValue="id"
               groupBy="type"
               placeholder="Vyberte oblast, pro kterou chcete zobrazit data (max. 10)"
               (change)="onLocationChange($event)"
               (change)="onLocationChange($event)"
               [(ngModel)]="selectedLocations$">
      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <b>{{item.name}}</b> ({{item.type}})
      </ng-template>
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items">
          <span class="ng-value-label"><b>{{item.name}}</b> ({{item.type}})</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
      </ng-template>
    </ng-select>
    <p class="text-center mt-5">
      <button (click)="scrollToEl(data)" class="btn btn-primary" [hidden]="!selectedLocations$ || !selectedSnapshots$">
        <span class="fa fa-arrow-down"></span>
        Prohlížet data
        <span class="fa fa-arrow-down"></span>
      </button>
    </p>
  </div>
  <div class="col-md-5  mt-5 pt-5">
    <div style="height: 25vw;min-width: 40vw"
         leaflet
         (leafletMapReady)="onMapReady($event)"
         [leafletOptions]="options"
         [leafletLayers]="layers">
    </div>
  </div>
</div>
<div class="pb-2" #data></div>
  <div class="row">
    <div class="col">
      <h4 class="mt-3">Požadovaná data o pracovních migracích</h4>
      <div class="mt-3 mb-3">
        <button mdbBtn type="button" color="blue-grey"
                class="waves-light" mdbWavesEffect (click)="setActiveTab('age-gender')">
          <i class="fa fa-eye" *ngIf="activeTab === 'age-gender'"></i>
          Věkové skupiny a pohlaví
        </button>
        <button mdbBtn type="button" color="blue-grey"
                class="waves-light" mdbWavesEffect (click)="setActiveTab('regularity')">
          <i class="fa fa-eye" *ngIf="activeTab === 'regularity'"></i>
          Pravidelnost migrace
        </button>
        <button mdbBtn type="button" color="blue-grey"
                class="waves-light" mdbWavesEffect (click)="setActiveTab('duration')">
          <i class="fa fa-eye" *ngIf="activeTab === 'duration'"></i>
          Délka trvání
        </button>
        <button mdbBtn type="button" color="blue-grey"
                class="waves-light" mdbWavesEffect (click)="setActiveTab('time')">
          <i class="fa fa-eye" *ngIf="activeTab === 'time'"></i>
          časový rozsahu začátku / konce vyjížďky
        </button>
        <button mdbBtn type="button" color="blue-grey"
                class="waves-light" mdbWavesEffect (click)="setActiveTab('distance')">
          <i class="fa fa-eye" *ngIf="activeTab === 'distance'"></i>
          Vzdálenost
        </button>
        <button mdbBtn type="button"  color="blue-grey"
                class="waves-light" mdbWavesEffect (click)="setActiveTab('day')">
          <i class="fa fa-eye" *ngIf="activeTab === 'day'"></i>
          Den v týdnu
        </button>
      </div>
    </div>
  </div>
<app-commuting-day [hidden]="activeTab !== 'day'" [selectedLocations$]="selectedLocations$" [selectedSnapshots$]="selectedSnapshots$" [days$]="days$"></app-commuting-day>
<app-commuting-distance [hidden]="activeTab !== 'distance'" [selectedLocations$]="selectedLocations$" [selectedSnapshots$]="selectedSnapshots$"></app-commuting-distance>
<app-commuting-age-gender [hidden]="activeTab !== 'age-gender'" [selectedLocations$]="selectedLocations$" [selectedSnapshots$]="selectedSnapshots$"></app-commuting-age-gender>
<app-commuting-time [hidden]="activeTab !== 'time'" [selectedLocations$]="selectedLocations$" [selectedSnapshots$]="selectedSnapshots$"></app-commuting-time>
<app-commuting-duration [hidden]="activeTab !== 'duration'" [selectedLocations$]="selectedLocations$" [selectedSnapshots$]="selectedSnapshots$"></app-commuting-duration>
<app-commuting-regularity [hidden]="activeTab !== 'regularity'" [selectedLocations$]="selectedLocations$" [selectedSnapshots$]="selectedSnapshots$"></app-commuting-regularity>
